@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(180deg, #c0b7ea, #8d7adf);
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.search {
  position: relative;
  height: 50px;
}

/* elementi input */
.search .input {
  background-color: #fff;
  border: 0;
  /* border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; */
  border-radius: 50px;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
}

.btn {
  background-color: #fff;
  border: 0;
  /* border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; */
  border-radius: 50px;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
}

.btn i {
  color: #8d7adf;
}
.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 250px;
}

.search.active .btn {
  transform: translateX(198px);
  margin-right: 50px;
}
